/* RESET TAMPILAN */
body { 
  margin: 0; padding: 0; width: 100vw; height: 100vh; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #FFFFFF; /* Wajib Putih */
  overflow: hidden;
}

model-viewer { 
  width: 100%; height: 100%; 
  --poster-color: transparent;
  background-color: white; 
}

/* TOMBOL ENTER AR (STYLE P5XR) */
#ar-button {
  position: absolute;
  
  /* POSISI: AGAK NAIK KE ATAS (40%) */
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  
  background-color: white;
  color: #ED225D; /* Pink P5 */
  
  /* BORDER TEBAL & TEGAS */
  border: 2.5px solid #ED225D; 
  border-radius: 4px; 
  
  /* UKURAN LEBAR & GAGAH */
  padding: 12px 28px;
  min-width: 170px;
  
  /* FONT TEBAL */
  font-size: 17px;
  font-weight: 700; /* BOLD */
  letter-spacing: 0.8px;
  
  /* LAYOUT */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  
  cursor: pointer;
  box-shadow: none; /* Flat Design */
  z-index: 999;
  
  /* Hapus highlight biru Android */
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* EFEK KLIK */
#ar-button:active {
  background-color: #fce4ec;
  transform: translate(-50%, -50%) scale(0.98);
}

/* IKON SVG */
#ar-icon {
  width: 26px; 
  height: 26px;
  fill: #ED225D;
}

/* HILANGKAN ELEMENT LOADING GOOGLE */
.slot-poster, #default-ar-button { display: none; }
